/* Khung trang */
.main {
  min-height: 100vh;
  padding: 20px 0;
}

.cart-page {
  display: flex;
  justify-content: center;
}

.cart-container {
  width: 1200px;
  background: #fff;
  margin: 10px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.title {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* Header */
.cart-header {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 2fr 2fr 2fr;
  font-weight: 600;
  color: #555;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  text-align: center;
}

.checkbox-all,
.item-check {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-check input {
  width: 18px;
  height: 18px;
}

.checkbox-all input {
  width: 18px;
  height: 18px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 2fr 2fr 2fr;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}


.item > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item > div:first-child {
  justify-content: flex-start;
  display: flex;
}

.item-product {
  gap: 30px;
}

.item-product h3 {
  font-size: 16px;
  font-weight: 500;
}

/* Đơn giá */
.item-price-single {
  font-weight: 500;
  color: #222;
}

/* Số lượng */
.item-qty {
  display: flex;
  overflow: hidden;
}

.qty-number {
  padding: 6px 12px;
  border: 1px solid #ddd;
}

.qty-btn {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background: #fafafa;
  cursor: pointer;
}

.qty-btn:hover {
  background: #eee;
}

/* Thành tiền */
.item-total {
  color: #d70018;
  font-size: 15px;
  font-weight: 600;
}

/* Xóa */
.remove-btn {
  border: none;
  background: #ffe5e5;
  color: #d70018;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* Tổng giá */
.cart-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.total-price {
  font-size: 20px;
  font-weight: 600;
  color: #d70018;
}

.checkout-btn {
  background: #d70018;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

/* Empty Cart / Login */
.cart-empty {
  text-align: center;
}

.btnShopping,
.login-link {
  color: #d70018;
  font-weight: 600;
}

.icon-spinner {
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
