.container {
  padding: 10px 0;
}

.header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin: 0 0 5px 0;
}

.header p {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}

/* --- FORM --- */
.passwordForm {
  max-width: 700px; 
}

.formGroup {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
  position: relative; /* Để đặt icon con mắt */
}

.formGroup label {
  text-align: right;
  color: #555;
  font-size: 0.95rem;
  font-weight: 400;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 15px; 
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #333;
  outline: none;
  transition: all 0.2s;
}

.input:focus {
  border-color: #777;
  box-shadow: 0 0 0 1px #eee;
}

/* Nút con mắt (Show/Hide) */
.toggleBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.toggleBtn:hover {
  color: #555;
}

.btnSave {
  background-color: rgba(25, 146, 211, 1);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  transition: opacity 0.2s;
  margin-left: 220px; 
  margin-top: 10px;
}
.btnSave:hover {
  background-color: rgb(20, 102, 147)
}
.btnSave:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Link quên mật khẩu */
.forgotLink {
  margin-left: 220px;
  margin-top: 15px;
  font-size: 0.85rem;
}
.forgotLink a {
  color: #0b74e5;
  text-decoration: none;
}
.forgotLink a:hover {
  text-decoration: underline;
  color: red;
}

/* Validate Message */
.errorMsg {
  color: #ff424f;
  font-size: 0.85rem;
  margin-left: 220px;
  margin-bottom: 10px;
  display: block;
}