@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&subset=vietnamese&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: 'Poppins', sans-serif;
}

.header-top {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.0em;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8%;
}
.header-news {
    display: flex;
}
.header-news img{
    height: 24px;
    margin-right: 8px;
}

.header-news p {
    margin: 0;
    color: #555;
}

.header-news b {
    color: rgb(20, 102, 147);
    margin-right: 4px;
}

.header-top-actions {
    display: flex;
    align-items: center;
    gap: 14px;
}

.lang-wrapper .lang-select {
    border: none;
}

.lang-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #555;
    font-size: 0.9em;
}

.lang-wrapper ion-icon {
    font-size: 24px;
}

.lang-select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
    background-color: #f8f8f8;
    outline: none;
}

#btnTheme {
    font-size: 24px;
}

.btnIcon {
    border: none;
    background: none;
    cursor: pointer;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnIcon:hover {
    color: rgb(44, 164, 229);
}


/*
body.dark-mode .header-top {
    background-color: #222;
    color: #ddd;
    border-bottom-color: #333;
}

body.dark-mode .lang-select {
    background-color: #333;
    color: #fff;
    border-color: #555;
}*/

.header-main {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header-main .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
    margin-right: 60px;
}

/* --search bar-- */
.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
    transform: scale(0.9);
}

.search-bar input {
   height: 45px; 
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
}

.search-bar input:focus {
    outline: none;
    border: 2px solid rgb(25, 122, 173);
}

.search-bar button {
    background-color: rgb(44, 164, 229);
    height: 45px;
    border: 1px solid #ccc;
    padding: 17px 15px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button:hover {
    background-color: rgb(20, 102, 147);
}

.search-bar ion-icon {
    font-size: 24px;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-icon ion-icon {
    font-size: 34px;
}

.btnIcon {
    position: relative;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*So luong sp trong cart*/
.cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: red;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  gap: 70px;
  font-family: sans-serif;

}

.main-nav a {
  color: black;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: bold;
  display: block;
}

.footer {
  background-color: #111;
  color: #eee;
  padding: 50px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.footer-column {
  flex: 1 1 220px;
  min-width: 200px;
}

.footer-logo {
  color: rgb(50, 178, 247);
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column h4 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #00bcd4;
}

.social-links {
  display: flex;            
  gap: 10px;                
  align-items: center;      
  margin-top: 10px;         
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #333; 
  color: #fff;
  transition: background 0.3s;
}

.footer-column p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-column p i {
  margin-right: 8px;
  color: #00bcd4;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 15px;
  margin-top: 40px;
  color: #999;
  font-size: 14px;
}

/*------cart-------*/
.cart-page {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}
.cart-empty {
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.cart-empty p {
  color:rgb(24, 76, 104);
  font-size: 1.4em;
  margin: 0 0 20px;
}
.cart-empty img {
    height: 250px;
}

.cart-empty div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
}


