<header class="main-header">
    <div class="header-top">
        <div class="logo"><a href="index.html"><img src="" alt="Logo"></a></div>
        <div class="search-bar">
            <input type="text" id="searchProduct" placeholder="Tìm kiếm sản phẩm...">
            <button id="btnSearch">Search</button>
        </div>
        <div>
            <div class="cart">
                <a href="cart.html">
                    <span class="cart-icon"></span>
                    <span class="cart-count">0</span>
                </a>
            </div>
            <div class="user-account">
                <a href="login.html">Đăng nhập</a>
            </div>
            <div class=""></div>
        </div>
    </div>

    <nav class="">
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
</header>