<header class="main-header">
    <div class="header-top">
        <div class="header-news">
            <img src="assets/images/freeship.png" alt="Logo">
            <p>
                <b>Miễn phí ship</b> đơn chỉ từ 45k
            </p>
        </div>
        <div class="header-top-actions">
            <button id="" class="btnIcon">
                <ion-icon name=""></ion-icon>
            </button>
            <div class="lang-wrapper">
                <button class="btnIcon"><ion-icon name="globe-outline"></ion-icon></button>
                <select class="lang-select">
                    <option value="vi">VN</option>
                    <option value="en">EN</option>
                </select>
            </div>
            <button id="btnTheme" class="btnIcon">
                <ion-icon name="moon-outline"></ion-icon>
            </button>
        </div>
    </div>

    <div class="header-main">
        <div class="container">
            <div class="logo"><a href="index.html"><img src="" alt="Logo"></a></div>
            <div class="search-bar">
                <input type="text" id="search" placeholder="Tìm kiếm sản phẩm...">
                <button id="btnSearch"><ion-icon name="search-outline"></ion-icon></button>
            </div>
            <div class="header-icon">
                <a href="cart.html" class="btnIcon">
                    <ion-icon name="cart-outline"></ion-icon>
                    <span class="cart-count">0</span>
                </a>
                <a href="login.html" class="btnIcon">
                    <ion-icon name="person-outline"></ion-icon>
                </a>
            </div>
            <div class=""></div>
        </div>
    </div>

    <nav class="">
        <ul id="menuItems">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
</header>