/*--Sign In Form--*/
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  background-color: #f4f5f7; 
}

.signin-form {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box;
}

.form-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.form-input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  color: #000;
  box-sizing: border-box; 
}
.form-input:focus {
  outline: none;
  border-color: #4b5563;
}

.form-button {
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 600;
  font-size: 1rem;
}
.form-button:hover {
  background-color: #1d4ed8;
}
.form-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.form-error {
  color: #ef4444; 
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: center;
}


.form-footer-text {
  font-size: 1rem;
  margin-top: 1.25rem;
  color: #525252;
  margin-bottom: 0.25rem;
}

.register {
  display: inline-flex;
  justify-content: center;
}
.form-link {
  font-weight: 700;
  color: #2563eb;
  text-decoration: none;
  font-size: 1rem;
}
.form-link:hover {
  color: #1d4ed8;
  text-decoration: underline;
}

.form-link-register {
  margin-top: 20px;
  margin-left: 10px;
}

.form-link-home {
  margin-top: 0.5rem;
  margin-left: 120px;
}

.forgot-pw {
  color: #525252;
  text-align: right;
  margin-bottom: 4px;
}

.forgot-pw:hover {
  text-decoration: underline;
  color: red;
}
.divider {
  margin-top: 4px;
}
.oauth-buttons {
  text-align: center;
}

.btn-oauth {
  font-size: larger;
  padding-left: 5px;
}