.detail-page {
  background: #f5f5fa;
  padding: 16px;
}

.detail-main {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  display: grid;
  grid-template-columns: 400px 1fr 260px;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
}

.detail-image {
  position: relative;
  aspect-ratio: 1 / 1;
  border: 1px solid #eee;
  border-radius: 6px;
}

.detail-image .img {
  object-fit: contain;
}

.detail-info .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.rating {
  color: #fdd835;
  font-size: 18px;
  margin-bottom: 12px;
}

.rating span {
  color: #555;
  margin-left: 6px;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #ff424e;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.features li {
  font-size: 14px;
  margin-bottom: 6px;
}

.ship-info {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 16px;
  border-radius: 6px;
  font-size: 14px;
}

.ship-info h3{
  font-size: 16px;
  font-weight: 600;
}

.ship-info p {
  margin-bottom: 10px;
}

.feedback-wrapper, .related-products {
  max-width: 1200px;
  margin: 30px auto;
}

.feedback-container {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.feedback-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.review-item {
  padding: 16px 0;
  border-bottom: 1px solid #f1f1f1;
}

.review-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.review-stars {
  color: #fdd835;
}

.review-text {
  font-size: 14px;
  color: #444;
}


.related-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

@media (min-width: 768px) {
  .related-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .related-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.related-card {
  transform: scale(0.9);
  transform-origin: center;
}

.related-card .product-image-wrap {
  aspect-ratio: 1/1;      
  height: auto !important;
}

.related-card h3 {
  font-size: 11px !important;
}

.related-card .price-tag {
  font-size: 13px !important;
}
